@charset "UTF-8";

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        * {
            font-family: 'Jua', sans-serif;
        }
        

.header {
    position: relative;
}

body {
    background: url(../img/star.jpg) no-repeat fixed;
    background-size: cover;
    position: relative; /* 부모 요소를 기준으로 자식 요소를 배치하기 위해 */
}

.success-secret {
    position: absolute;
    top: 17px;
    left : 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
     z-index: 1; /* 클릭 가능성을 위해 다른 요소 위에 위치하도록 설정 */
}

.my-info {
    position: absolute;
    top: 30px;
    left: 100px; /* 오른쪽으로 조정할 값 */
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: purple; /* 글씨 배경에 적용할 색상 */
     z-index: 1; /* 클릭 가능성을 위해 다른 요소 위에 위치하도록 설정 */
}

.vision-board, .to-do, .today, .reflection {
    position: absolute;
    top: 30px;
    left: 100px; /* 오른쪽으로 조정할 값 */
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #030088; /* 글씨 배경에 적용할 색상 */
     z-index: 1; /* 클릭 가능성을 위해 다른 요소 위에 위치하도록 설정 */
}


.my-info {
    left: 200px; /* "성공비밀"과의 간격 조정을 위한 값 */
     cursor: pointer;
     
}

.vision-board {
    left: 300px; /* "나의정보"와의 간격 조정을 위한 값 */
     cursor: pointer;
}

.to-do {
    left: 400px; /* "우선순위"와의 간격 조정을 위한 값 */
     cursor: pointer;
}

.today {
    left: 500px; /* "해야할일"과의 간격 조정을 위한 값 */
      cursor: pointer;
}

.login {

    position: absolute;
    top: 30px;
    right: 130px; /* 오른쪽으로 조정할 값 */
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: purple; /* 글씨 배경에 적용할 색상 */
    cursor: pointer;
    z-index: 1; /* 클릭 가능성을 위해 다른 요소 위에 위치하도록 설정 */
 
}

.sign-up {

    position: absolute;
    top: 30px;
    right: 30px; /* 오른쪽으로 조정할 값 */
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: purple; /* 글씨 배경에 적용할 색상 */
    cursor: pointer;
    z-index: 1; /* 클릭 가능성을 위해 다른 요소 위에 위치하도록 설정 */
 
}

.main {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 60px;
    color: white;
    -webkit-text-stroke-color: coral;
  	-webkit-text-stroke-width: 1px;
}

#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 세로 전체 높이에 맞춰 슬라이드를 가운데에 정렬합니다. */
}
